@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    margin: 0;
    background: #000000;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.container {
    background: white;
    padding: 24px 28px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    width: 320px;
}

.heading {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.input {
    padding: 10px 14px;
    font-size: 15px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 12px;
    outline: none;
    transition: border 0.2s ease;
}

.input:focus {
    border-color: #000000;
}

.btn {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-bottom: 18px;
}

.btn:hover {
    background-color: #16ad2f;
}

.info-text {
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
    color: #000000;
}

#bmi-result {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}
